/* Style the header */
header {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

header{
    background-color: #d2cdcd;
}

header:hover {
    background-color:#eec6c6;
}