/* Style the header */
#header {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #d2cdcd;
    padding: 10px;
    text-align: center;
}

#header:hover {
    background-color: #eec6c6;
}

.signUp-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.signUp-button:hover {
    background-color: #0056b3;
}